<h1>Kitten Creator</h1>

<% @kittens.each do |kitten| %>
  <%= kitten.name %> <br>
  <%= kitten.age %><br>
  <%= kitten.cuteness %><br>
  <%= kitten.softness %><br>

  <%= link_to "Edit Kitten", edit_kitten_path(kitten) %> 
  <%= link_to "Check Kitten", kitten_path(kitten) %>
  <br>
  <br>

<%end%>
