<h1>Kitten Creator</h1>

<%= link_to "Create a Kitten", new_kitten_path%> <br><br>

<% @kittens.each do |kitten| %>
  <%= kitten.name %> <br>
  <%= kitten.age %><br>
  <%= kitten.cuteness %><br>
  <%= kitten.softness %><br>

  <%= link_to "Edit Kitten", edit_kitten_path(kitten) %> 
  <%= link_to "Check Kitten", kitten_path(kitten) %>
  <%= link_to "Delete Kitten", kitten_path(kitten), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"  } %>
  
  <br>
  <br>

<%end%>
